@model ex1.VidewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
}

<h2>Add New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d/MM/yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipType)
        @Html.DropDownListFor(m => m.Customer.Name, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Types", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed To NewsLetter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id);
  
    <button class="btn btn-success btn-lg">Save</button>

}

